extends layout

block content
    .container
        h1 Debuging Panel
        h2 Server Main Data
        table.data
            tr
                th Project Type
                td= project_type
            tr
                th Lab Number
                td= lab_number
            tr
                th Version
                td= version
        h2 Constants
        table.data
            tr
                th g
                td= local_database.g
                th p
                td= local_database.p
        h2 Users
        table.data
            tr
                th Username
                th Number
            each value in local_database.users
                tr
                    td= value.username
                    td= value.number
        h2 Messages
        table.data
            tr
                th Username
                th Recepient
                th Encrypted message
            each value in local_database.messages
                tr
                    td= value.username
                    td= value.recepient
                    td= value.encrypted_message
        h2 Archived Messages
        table.data
            tr
                th Username
                th Recepient
                th Encrypted message
            each value in local_database.archived_messages
                tr
                    td= value.username
                    td= value.recepient
                    td= value.encrypted_message